<mat-toolbar color="primary">
<button class="hma" mat-button [matMenuTriggerFor]="mobileMenu">
  <mat-icon>menu</mat-icon>
</button>
  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item class=" btn"> <a routerLink="/najnowsze"  >Najnowsze</a></button>
    <button mat-menu-item class=" btn"><a routerLink="/kategorie">Kategorie</a></button>
    <button mat-menu-item class=" btn"><a routerLink="/nowyPost">Jebnij posta</a></button>
    <button mat-menu-item class=" btn"[matMenuTriggerFor]="menu">Profil</button>
  </mat-menu>

  <button mat-button class=" btn hmb"><a routerLink="/najnowsze"routerLinkActive="active">Najnowsze</a></button>
  <button mat-button class=" btn hmb"><a routerLink="/kategorie">Kategorie</a></button>
  <button mat-button class=" btn hmb"><a routerLink="/nowyPost">Jebnij posta</a></button>
  <button mat-button class="hmb" [matMenuTriggerFor]="menu">Profil</button>
  <span class="example-fill-remaining-space"></span>
  

  <mat-menu #mobile="matMenu">
    <button mat-button [matMenuTriggerFor]="menu">Profil</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class=" btn" ><a routerLink="/logowanie">Zaloguja</a></button>
      <button mat-menu-item class=" btn" ><a routerLink="/rejestracja">Zarejestruj się</a></button>
    </mat-menu>
  </mat-menu>
  
  </mat-toolbar>
