<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-deep-purple-500">
<a class="navbar-brand" routerLink="/">FORUM</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav color-white">
      <li>
      <a class="nav-link" routerLink="/najnowsze" routerLinkActive="active-link">Najnowsze</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/kategorie" routerLinkActive="active-link">Kategorie</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/nowyPost" routerLinkActive="active-link">Jebnij posta</a>
      </li>
      <li>
        <div class="nav-link dropdown">
          <a class="dropdown-toggle cp" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Profil
        </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/logowanie">Zaloguj</a>
            <a class="dropdown-item" routerLink="/rejestracja">Zarejestruj się</a>
            <a class="dropdown-item" routerLink="/sandbox">Sandbox</a>
          </div>
        </div>
        </li>
    </ul>
  </div>
</nav>



<!-- <mat-toolbar color="primary">
<button class="hma" mat-button [matMenuTriggerFor]="mobileMenu">
  <mat-icon>menu</mat-icon>
</button>
  <mat-menu #mobileMenu="matMenu">
    <a mat-menu-item class="btn" routerLink="/najnowsze"  >Najnowsze</a>
    <a mat-menu-item class="btn" routerLink="/kategorie">Kategorie</a>
    <a mat-menu-item class="btn" routerLink="/nowyPost">Jebnij posta</a>
    <button mat-menu-item class="btn"[matMenuTriggerFor]="menu">Profil</button>
  </mat-menu>

  <a mat-button class="btn hmb" routerLink="/najnowsze" routerLinkActive="">Najnowsze</a>
  <a mat-button class="btn hmb" routerLink="/kategorie">Kategorie</a>
  <a mat-button class="btn hmb" routerLink="/nowyPost">Jebnij posta</a>
  <button mat-button class="hmb" [matMenuTriggerFor]="menu">Profil</button>
  <span class="example-fill-remaining-space"></span>
  

  <mat-menu #mobile="matMenu">
    <button mat-button [matMenuTriggerFor]="menu">Profil</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item class=" btn" routerLink="/logowanie">Zaloguja</a>
      <a mat-menu-item class=" btn" routerLink="/rejestracja">Zarejestruj się</a>
      <a mat-menu-item class=" btn" routerLink="/sandbox">SandBox</a>
    </mat-menu>
  </mat-menu>
  
  </mat-toolbar> -->
