<nav class="navbar navbar-expand-lg navbar-dark bg-deep-purple-600">
  <a class="navbar-brand" href="#">FORUM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav color-white">
      <li>
        <a class="nav-link" routerLink="/najnowsze">Najnowsze</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/kategorie">Kategorie</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/nowyPost">Jebnij posta</a>
      </li>
    </ul>
  </div>
</nav>



<!-- <mat-toolbar color="primary">
<button class="hma" mat-button [matMenuTriggerFor]="mobileMenu">
  <mat-icon>menu</mat-icon>
</button>
  <mat-menu #mobileMenu="matMenu">
    <a mat-menu-item class="btn" routerLink="/najnowsze"  >Najnowsze</a>
    <a mat-menu-item class="btn" routerLink="/kategorie">Kategorie</a>
    <a mat-menu-item class="btn" routerLink="/nowyPost">Jebnij posta</a>
    <button mat-menu-item class="btn"[matMenuTriggerFor]="menu">Profil</button>
  </mat-menu>

  <a mat-button class="btn hmb" routerLink="/najnowsze" routerLinkActive="">Najnowsze</a>
  <a mat-button class="btn hmb" routerLink="/kategorie">Kategorie</a>
  <a mat-button class="btn hmb" routerLink="/nowyPost">Jebnij posta</a>
  <button mat-button class="hmb" [matMenuTriggerFor]="menu">Profil</button>
  <span class="example-fill-remaining-space"></span>
  

  <mat-menu #mobile="matMenu">
    <button mat-button [matMenuTriggerFor]="menu">Profil</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item class=" btn" routerLink="/logowanie">Zaloguja</a>
      <a mat-menu-item class=" btn" routerLink="/rejestracja">Zarejestruj się</a>
      <a mat-menu-item class=" btn" routerLink="/sandbox">SandBox</a>
    </mat-menu>
  </mat-menu>
  
  </mat-toolbar> -->
