<!-- <div class="container padding"> -->
  <!-- <mat-grid-list class="" cols="3" rowHeight="150px" gutterSize="15px">
    <mat-grid-tile *ngFor="let k of kategorie"  class="bg-deep-purple-400 catTile">{{k}}</mat-grid-tile>
  </mat-grid-list> -->
  <div class="bounds">
  
    <div class="content" fxLayout="column" fxLayout.xs="column" fxFlexFill fxLayoutAlign="space-between strech">
  
      <div fxFlex="33" class="sec1" fxFlex.xs="55">
        first-section
      </div>
      <div fxFlex="34" class="sec2">
        second-section
      </div>
      <div fxFlex="33" class="sec3" fxFlex.xs="15">
        third-section
      </div>
  
    </div>
  
  </div>
<!-- </div> -->
