<!-- <div class="container padding"> -->
  <!-- <mat-grid-list class="" cols="3" rowHeight="150px" gutterSize="15px">
    <mat-grid-tile *ngFor="let k of kategorie"  class="bg-deep-purple-400 catTile">{{k}}</mat-grid-tile>
  </mat-grid-list> -->
<div class="container">
  <div class="row">
    <div  class="col-12 col-md-6 col-lg-4 catTile" *ngFor="let k of kategorie">
      <div routerLink="/nowyPost" class="bg-deep-purple-400 catTileContent" ><i class="fa fa-{{k.icon}} catIcon" aria-hidden="true"></i><div class="header" >{{k.title}}</div></div>
    </div>
  </div>
</div>
<!-- </div> -->
