
<div class="container">
<div class="card newPost " *ngFor="let p of posty; let i of index">
  <div class="card-body">
    <h5 routerLink="/kategorie" class="card-title color-deep-purple-400 postHeader">{{p.header}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">User Date Category</h6>
  </div>
</div>


  <!-- <mat-card class="newPost bg-deep-purple-300" *ngFor="let p of posty; let i of index">
    <mat-card-title class="color-white"><a routerLink="/najnowsze">{{p.header}}</a></mat-card-title>
    <mat-card-subtitle>User Date Category</mat-card-subtitle>
  </mat-card> -->
</div>
